html{
	background: url(../images/8.jpg) no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}
h1{
	padding-top: 30px;
	text-align: center;
	color:white;
	font-size: 48px;
}
form{
	
	font-size: 16px;
}

#box{
	background: url(../images/back2.jpg);
	background-size: 100%;
	/*background-color: #af111c;*/
	width: 60%;
	margin: 20px auto 0 auto;
	height: 1224px;
	color: white;
	font-size: 22px;
	text-align: center;
}
#quiz{
	display:none;
}
.btn{
  display: none;
  margin: 5px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50 ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {background-color: #3e8e41 }

.btn:active {
  background-color: #3e8e41 ;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#begin{
	display: inline-block;
}
#answers{
	background-color: white;
	color: red;
	display:none;
}
#quizAnswers{
	display:none;
}
#end{
	width: 30%;
	margin: 0 auto 0 auto;
	color: black;
	background-color: white;
}