html{
	background: url(../images/8.jpg) no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}
h1{
	padding-top: 30px;
	text-align: center;
	color:white;
	font-size: 48px;
}
form{
	font-size: 16px;
}
#box{
	background: url(../images/back2.jpg);
	background-size: 100%;
	/*background-color: #af111c;*/
	width: 60%;
	margin: 20px auto 0 auto;
	height: 1024px;
	color: white;
	font-size: 22px;
	text-align: center;
}
#quiz{
	display:none;
}